<div>
    <button style="width: 100x; height: 40px;" onclick=screenshot(<%= random %>) >Download</button>
    <div id="render-page-<%= random %>" style="background-image: url('../public/image/background.png'); background-position: center; width: 1200px; height: 1200px; position: relative; margin-top: 20px;">
        <div id="image-thumbnail" style="position: relative;">
            <img src="<%= imageLink %>" style="width: 1200px; height: 700px; object-fit: cover;">
            <div id="tag-thumbnail" style="position: absolute; top: 625px;">
                <img src="../public/image/line1.png" style="width: 1200px;">
            </div>
        </div>
        <div id="content" style="padding: 0 20px 0 20px; height: 360px; display: flex; justify-content: center;align-items: center;">
            <div id="title">
                <h1 style=" font-size: 55px; text-transform:uppercase; margin-top: 10px; margin-bottom: 5px;"><%= title %></h1>
                <!-- <img src="../public/image/line2.png" style="width: 490px; height: 9px;"> -->
                <!-- <hr width="500px" align="left"> -->
            </div>
            <!-- <div id="description" style="margin-bottom: 20px; padding-bottom: 0px">
                <p style="font-size: 40px; margin-top: 15px; margin-bottom: 10px;"><%= description %></p>
            </div> -->
        </div>
        <div id="footer" style="position: absolute; bottom: 20px; padding: 0 20px 0 20px;">
            <img src="../public/image/lg_dnews.png" style="width: 80px; height: 80px; border-radius: 7px; margin-bottom: 10px;">
        </div>
    </div>
</div>